<header><!-- header.ejs -->
	<div class="header_inner">
		<div class="logo"><!-- logo.ejs -->
			<h1>
				<a href="/"><img src="./img/logo.gif" alt="logo"></a>
			</h1>
		</div>
		<div class="nav"><!-- nav.ejs -->
			<ul>
				<li><a href="/login">멤버십 로그인</a></li>
				<li><a href="/join">멤버십 가입</a></li>
			</ul>
		</div>
		<!-- login_info.js -->
	</div>
</header>