<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
	<link rel="stylesheet" href="./css/common.css">
	<link rel="stylesheet" href="./css/join.css">
	<title>Join</title>
</head>
<body>
	<%- include('header.ejs') %>

	<section>
		<div class="section_inner">
			<div class="left_article">
				<h2>회원가입</h2>
			</div>
			<div class="right_article">
				<div class="title">
					<h3>멤버십 가입</h3>
					<div class="title_img">
						<img src="./img/join.gif" alt="join">
					</div>
					<div class="title_desc">
						<p>할리스의 멤버십이 되시면 다양한 혜택을 누리실 수 있습니다.</p>
					</div>
				</div>
				<form action="/join" method="post">
					<div class="id_wrap">
						<p>로그인</p>
						<input type="text" name="username">
					</div>
					<div class="pw_confirm_wrap">
						<p>비밀번호</p>
						<input type="password" name="password">
					</div>
					<div class="pw_wrap">
						<p>비밀번호 확인</p>
						<input type="password" name="confirm">
					</div>
					<div class="mail_wrap">
						<p>이메일</p>
						<input type="email" name="email">
					</div>
					<div class="phone_wrap">
						<p>전화번호</p>
						<input type="number" name="number">
					</div>
					<input type="hidden" name="cart">
					<div class="btn_wrap">
						<button type="submit" class="join_btn"><a href="">회원가입</a></button>
					</div>
				</form>
			</div>
		</div>
	</section>

	<footer>
		<div class="footer_inner">
			<p>본 페이지는 개인 포트폴리오용 페이지이므로 상업적 용도가 없습니다.</p>
		</div>
	</footer>
</body>
</html>