<header><!-- header.ejs -->
	<div class="header_inner">
		<div class="logo"><!-- logo.ejs -->
			<h1>
				<a href="/"><img src="/img/logo.gif" alt="logo"></a>
			</h1>
		</div>
		<div class="nav"><!-- nav.ejs -->
			<ul>
				<li><a href="/logout">로그아웃</a></li>
				<li><a href="/mypage">마이페이지</a></li>
			</ul>
		</div>
		<!-- login_info.js -->
	</div>
</header>